<div class="header navbar navbar-inverse navbar-fixed-top" id="user-navigation">
  <div class="navbar-inner">
    <div class="container header-container">
      <div class="logo" style="display:inline-block;">
        <a href="/">
          <img width="210px;" src="<%=image_path("internetoftweets.png")%>" />
        </a>
      </div>
      <ul class="nav navbar-nav pull-right">
        <a id="btnshowlogin" href="#" class="btn blue" style="margin-top:3px;">Customize?</a>
      </ul>
    </div>
  </div>
</div>