<div class="header navbar navbar-inverse navbar-fixed-top" id="user-navigation">
  <div class="navbar-inner">
    <div class="container header-container">
      <div class="logo" style="display:inline-block;">
        <a href="/">
          <img width="210px;" src="<%=image_path("internetoftweets.png")%>" />
        </a>
      </div>

    </div>
  </div>
</div>